@import 'https://fonts.googleapis.com/css?family=Montserrat';

body{
    font-family: 'Monserrat', sans-serif;
}

/*Sección Menú BAR*/
#menu{
	height: 80px;
}



/*Sección HERO registrarse*/


#taxi{
	position: absolute;
    /*clip: rect(20px,80px,20px,40px); para cortar la imagen*/
}