@import 'https://fonts.googleapis.com/css?family=Montserrat';

* {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
  }
body{
    font-family: 'Monserrat', sans-serif;
}


/*Sección Menú BAR*/
#menu{
	height: 80px;
}

/*Sección HERO registrarse*/
/*#tax{
  position:absolute;
        top:-50%;
        left:-50%;
        width:200%;
        height:200%;
}*/
#taxi{
	
	position: relative; /* or absolute */
   top: 10%;
   left: 0px;
   right: 0px;

    /*clip: rect(20px,80px,20px,40px); para cortar la imagen:;*/
}

#texto{
	position: absolute;
  text-align: center;
  color: white;
  bottom: 50%; 
  right: 20%;
  left: 30%;
  background-color:#f7b617;
  
}

/*Sección App*/
#app {	
    color: #fff;
    background: #f7b617;
    padding:100px;
}

#celular{
	position: relative;
	
}

/*Sección Tarifa*/

#map {
        height: 100%;
      }
       Optional: Makes the sample page fill the window. 
#mapi {
        width: 100%;
        height: 100vh;

        margin: 0;
        padding: 0;
      }
/*Footer*/

footer {

  color: white; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: grey; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: grey; }
